<% breadcrumb @project %>
<header>
  <h1><%= @project.name %></h1>
  <h2><%= @project.description %></h2>
  <% if @project.homepage %>
    <tt><a href="<%= @project.homepage %>"><%= @project.homepage %></a></tt>
  <% end %>
  <h3><%= link_to "T17 residence", root_path %></h3>
</header>

<% @project.posts.each do |post| %>
  <%= render partial: "posts/post", locals: { post: post, show_comment_indicator: true } %>
<% end %>

<% if @can_post %>
  <section>
    <% if @project.posts.present? %>
      <%= button_to "Write a new post", new_project_post_path(@project), method: :get %>.
    <% else %>
      <center>
      <%= button_to "Now, write the first post!", new_project_post_path(@project), method: :get %>
      </center>
    <% end %>
  </section>
<% end %>

<section>
<%= breadcrumbs %>
</section>