<% breadcrumb @project %>
<header>
  <h1><%= @project.name %></h1>
  <h2><%= @project.description %></h2>
  <% if @project.homepage %>
    <tt><a href="<%= @project.homepage %>"><%= @project.homepage %></a></tt>
  <% end %>
  <h3><abbr><%= link_to "T17", root_path %></abbr> residence project</h3>
</header>

<% if @project.posts.present? %>
  <section>
    <% @project.posts.each do |post| %>
    <article>
      <header>
        <div class=avatar style="background-image: url('<%= post.user.image %>?type=large')"></div>
        <div class=spaced>
          <span><%= post.user.first_name %></span>
          <date> <%= post.created_at.in_time_zone.to_s(:long) %></date>
          <% if @can_post %>
            <gray> <%= link_to "Edit", edit_post_path(post) %></gray>
          <% end %>
        </div>
        <h3><%= post.title %></h3>
      </header>
      <main>
        <%= markdown(post.body) %>
      </main>
      <p>
      </p>
    </article>
    <% end %>
  </section>
<% end %>

<% if @can_post %>
  <section>
    <% if @project.posts.present? %>
      <%= button_to "Write a new post", new_project_post_path(@project), method: :get %>.
    <% else %>
      <center>
      <%= button_to "Now, write the first post!", new_project_post_path(@project), method: :get %>
      </center>
    <% end %>
  </section>
<% end %>

<section>
<%= breadcrumbs %>
</section>