<% breadcrumb @post %>
<header>
  <h1><%= @post.project.name %></h1>
  <h2><%= @post.project.description %></h2>
  <h3>a <abbr><%= link_to "T17", root_path %></abbr> project</h3>
</header>

<section>
  <article>
    <header>
      <div class=avatar style="background-image: url('<%= @post.user.image %>?type=large')"></div>
      <div class=spaced>
        <span><%= @post.user.first_name %></span>
        <date> <%= @post.created_at.in_time_zone.to_s(:long) %></date>
        <% if @can_edit %>
          <gray> <%= link_to "Edit", edit_project_post_path(@post.project, @post) %></gray>
        <% end %>
      </div>
      <h3><%= @post.title %></h3>
    </header>
    <main>
      <%= markdown(@post.body) %>
    </main>
    <p>
    </p>
  </article>

<% if user_signed_in? || @post.likes.present? %>
  <likes>
    <% if user_signed_in? and not @post.likers.include?(current_user) %>
      <%= link_to like_post_path(@post), { method: :post } do %>
        <%= image_tag "emoji/svg/1F44F.svg", class: "like-button" %>
      <% end %>
    <% else %>
      <%= image_tag "emoji/svg/1F44F.svg", class: "like-icon" %>
    <% end %>
    <% if @post.likes.present? %>
      Applause from&nbsp;<b><%= @post.likes.map {|x| x.user.first_name}.to_sentence %></b>
    <% end %>
  </likes>
<% end %>
</section>

<section>
  <% if @post.comments.present? %>
    <h2>Comments</h2>
  <% end %>
  <% @post.comments.each do |comment| %>
    <comment>
      <header>
        <div class=avatar style="background-image: url('<%= comment.user.image %>?type=large')"></div>
        <div class=spaced>
          <name><%= comment.user.first_name %></name>
          <date> <%= comment.created_at.in_time_zone.to_s(:long) %></date>
        </div>
        <%= markdown(comment.body) %>
      </header>
    </comment>
  <% end %>

  <% if user_signed_in? %>
    <%= form_for :comment, url: project_post_comments_path(@post.project, @post) do |f| %>
      <p>
        <%= f.label :body, "Leave a comment" %>
        <%= f.text_area :body, placeholder: 'e.g., "Wow, nice!"' %>
      </p>
      <p>
        <%= f.submit "Save comment" %>
      </p>
    <% end %>
  <% end %>
</section>

<section>
<%= breadcrumbs %>
</section>
